<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798590984504-pqn246k7ufces7ogqs5t4ek896d1aold.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798590984504-pqn246k7ufces7ogqs5t4ek896d1aold</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Oc8aNNg2UlmlrrXVHCP-1ELPgA5Hiog</string>
	<key>GCM_SENDER_ID</key>
	<string>798590984504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omed.xol</string>
	<key>PROJECT_ID</key>
	<string>xol-omed</string>
	<key>STORAGE_BUCKET</key>
	<string>xol-omed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798590984504:ios:1919f1dcdd7b8ea17221cd</string>
</dict>
</plist>